<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Properties.Settings>
            <setting name="ImportExecutableFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportLanguageFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportSaveGameFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportExecutableFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportLanguageFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportSaveGameFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserGameFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserExecutableFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialRun" serializeAs="String">
                <value>True</value>
            </setting>
        </Core.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Core.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>GPW Edit</value>
            </setting>
            <setting name="RegistryKey" serializeAs="String">
                <value>SOFTWARE\MicroProse\Grand Prix World\1.00.000</value>
            </setting>
            <setting name="DefaultExecutableFileName" serializeAs="String">
                <value>gpw.exe</value>
            </setting>
            <setting name="DefaultLanguageFileName" serializeAs="String">
                <value>english.txt</value>
            </setting>
            <setting name="DefaultGameFolderPath" serializeAs="String">
                <value>C:\Program Files\MicroProse\Grand Prix World</value>
            </setting>
        </Core.Properties.Settings>
    </applicationSettings>
</configuration>