<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.WindowsForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.WindowsForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <App.WindowsForms.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>GPW Edit</value>
      </setting>
      <setting name="GameName" serializeAs="String">
        <value>Grand Prix World</value>
      </setting>
      <setting name="RegistryKey" serializeAs="String">
        <value>SOFTWARE\MicroProse\Grand Prix World\1.00.000</value>
      </setting>
      <setting name="DefaultGameFolderPath" serializeAs="String">
        <value>C:\Program Files\MicroProse\Grand Prix World</value>
      </setting>
      <setting name="DefaultGameExecutableName" serializeAs="String">
        <value>gpw.exe</value>
      </setting>
      <setting name="DefaultEnglishLanguageFileName" serializeAs="String">
        <value>english.txt</value>
      </setting>
      <setting name="DefaultFrenchLanguageFileName" serializeAs="String">
        <value>french.txt</value>
      </setting>
      <setting name="DefaultGermanLanguageFileName" serializeAs="String">
        <value>german.txt</value>
      </setting>
      <setting name="DefaultEnglishCommentaryFileName" serializeAs="String">
        <value>comme.txt</value>
      </setting>
      <setting name="DefaultFrenchCommentaryFileName" serializeAs="String">
        <value>commf.txt</value>
      </setting>
      <setting name="DefaultGermanCommentaryFileName" serializeAs="String">
        <value>commg.txt</value>
      </setting>
    </App.WindowsForms.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <App.WindowsForms.Properties.Settings>
      <setting name="InitialRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserGameFolderPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserGameLaunchCommand" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruGameFolderPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruGameExecutablePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruEnglishLanguageFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruFrenchLanguageFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruGermanLanguageFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruEnglishCommentaryFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruFrenchCommentaryFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="MruGermanCommentaryFilePath" serializeAs="String">
        <value/>
      </setting>
    </App.WindowsForms.Properties.Settings>
  </userSettings>
</configuration>
