<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GpwEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GpwEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <GpwEditor.Properties.Settings>
            <setting name="UserGameFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserGameExecutablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLanguageFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MruGameFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MruGameExecutablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MruLanguageFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialRun" serializeAs="String">
                <value>True</value>
            </setting>
        </GpwEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GpwEditor.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>GPW Edit</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>Grand Prix World</value>
            </setting>
            <setting name="RegistryKey" serializeAs="String">
                <value>SOFTWARE\MicroProse\Grand Prix World\1.00.000</value>
            </setting>
            <setting name="DefaultGameFolderPath" serializeAs="String">
                <value>C:\Program Files\MicroProse\Grand Prix World</value>
            </setting>
            <setting name="DefaultGameExecutableName" serializeAs="String">
                <value>gpw.exe</value>
            </setting>
            <setting name="DefaultLanguageFileName" serializeAs="String">
                <value>english.txt</value>
            </setting>
        </GpwEditor.Properties.Settings>
    </applicationSettings>
</configuration>
